h1{
    color: rgb(0, 0, 0);
    font-family: cursive;
    background-color: rgb(255, 255, 255);
    background-position-y: 20cm;
    background-position-x: 27cm;
    padding-inline-start: 40%;
    background-image: url(https://cdn.wallpapersafari.com/58/55/QlF28f.jpg);
}